<div>
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title">Information to user</h5>
              <p class="card-text">To register account, click Auth with Gitlab, confirm your Gitlab account. After that, you will be redirected to this site again. 
                You then need to create a password to your account. Note that your username will be the same as your username at Gitlab.</p>
            </div>
          </div>
          <br>
    <button (click)="doAuth()" type="button" [disabled]="isLoading">Auth with Gitlab</button>

    <p></p>

    <form [formGroup]="loginForm">

        <div class="form-group">
            <label for="username">Password</label>
            <input class="form-control w-25" type="password" name="password" id="password"
                placeholder="Enter your password..." formControlName="password" required minlength="6" />
        </div>

        <div class="form-group">
            <button class="btn btn-success btn-lg" (click)="onRegisterClicked()" type="button">Register</button>
        </div>
    </form>
</div>