<div class="container">
    <div class="row">
        <div class="col-sm">
            <input [(ngModel)]="selectedColor" type="checkbox">
            <p>Shiny</p>
            <p>{{selectedColor}}</p>
        </div>
        <div class="col-sm">
            <input type="date" [(ngModel)]="date" data-date="" data-date-format="DD MMMM YYYY" value="2015-08-09"
                required>
            <input type="time" [(ngModel)]="time" id="appt" name="appt" min="09:00" max="18:00" step="1" required>
        </div>
        <div class="col-sm">
            <select [(ngModel)]="selectedGender" class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>
        <div>
            Longitud<input [(ngModel)]="Longitud" type="text" placeholder="Longitud">
            Latitud<input [(ngModel)]="Latitud" type="text" placeholder="Latitud">
        </div>
    </div>
    <div class="row">
        <div>
            <app-map (LatLon)="getCoordinates($event)"></app-map>
        </div>
    </div>
    <div class="row">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="&#61442; Search after a pokemon">
    </div>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>type</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pokemon of pokemons | filter:searchText">
                <img *ngIf="selectedColor === false" src="{{pokemon.notShiny}}">
                <img *ngIf="selectedColor === true" src="{{pokemon.shiny}}">
                <td>{{pokemon.name}}</td>
                <td><span *ngFor="let type of pokemon.types">{{type.type.name}}<br></span></td>
                <td><span *ngIf="selectedColor === true">(Shiny)<br></span></td>
                <button class="btn btn-primary btn-lg" type="button"
                    (click)="getPokemon(pokemon, selectedColor, selectedGender,Latitud,Longitud, date, time )">Add as spotted</button>
            </tr>
        </tbody>
    </table>
</div>
<style>
    p {
        font-size: large;
    }
</style>