<div class="container">
    <div class="row">
        <div>
            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
                placeholder="&#61442; Search after a pokemon">
            <table class="table table-sm">

                <thead>
                    <tr>
                        <th>Spotted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pokemon of pokemonsSpotted | filter:searchText">
                        <img *ngIf="pokemon.isShiny === false" src="{{pokemon.notShiny}}">
                        <img *ngIf="pokemon.isShiny === true" src="{{pokemon.shiny}}">
                        <td>{{pokemon.name}}</td><br>
                        <td><span *ngFor="let type of pokemon.types"> {{type.type.name}}<br></span></td>
                        <td><span *ngIf="pokemon.isShiny === true">(Shiny)</span></td>
                        <td><span *ngIf="pokemon.isRare === true">(Rare)</span></td>
                        <div class="row">
                            <p>{{pokemon.lat}} : {{pokemon.lon}}</p>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <br>
            <br>
            <table class="table table-sm">

                <thead>
                    <tr>
                        <th>Not Spotted</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pokemon of pokemonsNotSpotted | filter:searchText">
                        <img src="{{pokemon.notShiny}}">
                        <td>{{pokemon.name}}</td>
                        <td><span *ngFor="let type of pokemon.types">{{type.type.name}}<br></span></td>
                        <td><span *ngIf="pokemon.isRare === true">(Rare)</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .row {
        display: flex;
        justify-content: space-between;
    }

    .row>table {
        display: inline-block;

    }
</style>