<table class="table">
<thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Times spotted</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let pokemon of rarePokemons; let ndx = index;">
        <th> {{ndx+1}} </th>
        <img src="{{pokemon.Url}}" >
        <th> {{pokemon.name}} </th>
        <th> {{pokemon.timesSpotted}} </th>
    </tr>
</tbody>
</table>