<div class="container">
    <h1>Login</h1>

    <form [formGroup]="loginForm">
        <div class="form-group w-25"> 
            <label for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username..."
                formControlName="username" />
        </div>

        <div *ngIf="username.invalid && ( username.dirty || username.touched )">
            <p *ngIf="username.errors.required">Username is required</p>
        </div>

        <div class="form-group w-25"> 
            <label for="username">Password</label>
            <input class="form-control" type="password" name="password" id="password" placeholder="Enter your password..."
                formControlName="password" />
        </div>

        <div *ngIf="password.invalid && ( password.dirty || password.touched )">
            <p *ngIf="password.errors.required">Password is required</p>
        
        </div>

        <p>{{ usernameLogin }}</p>
        <br>
        <div class="form-group">
        <button class="btn btn-primary btn-lg" (click)="onLoginClicked()" type="button" 
        [disabled]="isLoading || loginForm.invalid">Login</button>
        </div>

        <div class="form-group">
            <button class="btn btn-primary btn-lg" (click)="onLogoffClicked()" type="button" 
            [disabled]="isLoading">Logoff</button>
            </div>

        <div *ngIf="loginError" class="alert alert-danger mt-2" role="alert">
            <h4>Something went wrong...</h4>
            <p>{{ loginError }}</p>
        </div>


        <div *ngIf="isLoading">
            <p>Attempting to login...</p>
        </div>
    </form>

    <br>
    <a routerLink="/register">I don't have an account</a>

</div>