<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Player</th>
        <th scope="col">Points</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor= "let player of players; let ndx = index" >
        <th>{{ndx+1}}</th>
        <td><p [className] ="player.name === name ? 'large': 'normal'">{{player.name}}</p></td>
        <td><p [className] ="player.name === name ? 'large': 'normal'">{{player.points}}</p></td>
      </tr>
    </tbody>
  </table>
