<div class="container">
    <div class="row">
        <div class="col-lg" id = player>
            <label id = "label" for="playerList">TOP 10 Players</label>
            <app-toplist  id = playerList></app-toplist>
        </div>
    <div class="col-lg">
        <label id = "label" for="pokemonList">TOP 10 Rarest</label>
        <app-rare-list id = "pokemonList"></app-rare-list>
    </div>
    </div>
</div>
